@import "./style.scss";

html {
  font-family: "Pattaya";
  font-family: "Henny Penny";
  font-family: "Roboto", sans-serif;
}

$colorp: #9453a6;
$colorg: #8cbf3f;
$colory: #f2cc07;
$colorw: #f2f2f2;
$colorb: #0d0d0d;

@media (max-width: $phone-breakpoint) {
  .logo {
    height: 50px;
  }
}

@media (min-width: $desktop-breakpoint) {
  .logo {
    height: 85px;
    position: absolute;
    left: calc(50% - 47.5px);
    top: 15px;
    z-index: 1;
  }
}

nav {
  background: #ccc;
}
